<div class="wrapper_login">
	<div class="bl_login_tbl">
		<div class="bl_login_cell">
			<div class="bl_login">
				<div class="logo"><img src="resources/imgs/vpa-logo-login.png" alt=""></div>
				<hr>
				<h2>Reset Password</h2>
				<div class="bl_white mb20">
					<p class="errors">{{ error }}</p>
					<form action="" id="frm-reset-pwd">
						<label>New Password</label>
						<div class="bl_login_pwd mb20"><input type="password" ng-model="pwd1" ng-trim="true" ng-init="pwd1 = ''" class="form-control txt-pwd" placeholder="Password" tabindex="1" autofocus><input type="button" id="btnToggleShowHide1" ng-click="showHide1()" value="show" class="btn-pwd btn" data-click-state="1"></div>
						<label>Confirm New Password</label>
						<div class="bl_login_pwd mb20"><input type="password" ng-model="pwd2" ng-trim="true" ng-init="pwd2 = ''" class="form-control txt-pwd" placeholder="Password" tabindex="2"><input type="button" id="btnToggleShowHide2" ng-click="showHide2()" value="show" class="btn-pwd btn" data-click-state="1"></div>
						<div class="text-center"><input type="button" ng-click="resetPassword()" class="btn btn-vpa" value="Send" tabindex="3"></div>
					</form>
				</div>
				<div class="text-center forgot_pwd_link"><a href="#/login" tabindex="4">Return to sign in screen</a></div>
			</div>
		</div>
	</div>
</div>